Repository gyromagnet/pulse: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, stylelint, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.11.5
    hooks:
      # Run the linter.
      - id: ruff
        args: [./src/py]
      # Run the formatter.
      - id: ruff-format
        args: [./src/py]

  - repo: local
    hooks:
      - id: eslint
        args:
          [
            ".",
            "--config",
            "eslint.config.js",
            "--ext",
            ".js,.mjs,.cjs,.ts,.tsx",
          ]
        name: ESLint
        entry: eslint
        language: system
        files: \.(js|mjs|cjs|jsx|ts|tsx|json|md)$

  - repo: local
    hooks:
      - id: stylelint
        args: ["--config", "./stylelint.config.js", "**/*.{css,scss,html,tsx}"]
        name: stylelint
        entry: stylelint
        language: system
        files: \.(css|scss|html|tsx)$

  - repo: local
    hooks:
      - id: prettier
        args: ["--config", "./.prettierrc", "--write"]
        name: prettier
        entry: prettier
        language: system
        files: ^(index.html|eslint.config.js|package.json|stylelint.config.js|tsconfig.json|vite.config.js)|((src/|public/).*\.(js|mjs|cjs|jsx|ts|tsx|css|scss|json|html))$

fix editor styling
  .pre-commit-config.yaml
  index.html
  package-lock.json
  package.json
  public/styles.css
  src/app.js
  src/parser_worker.js
  src/tree.js
  src/ui.js
Due: eslint, stylelint, prettier

fix start and end positions for tokens
  src/app.js
  src/parser_worker.js
  src/py/parse_runner.py
  src/settings.js
  src/tree.js
  src/ui.js
Due: eslint, prettier

fix up styling and improve code overall
  ISSUES.md
  README.md
  public/styles.css
  src/app.js
  src/editor.js
  src/parser_worker.js
  src/py/parse_runner.py
  src/settings.js
  src/tree.js
  src/ui.js
  src/worker.js
  stylelint.config.js
Due: eslint, stylelint, prettier

fix some ui bugs
  ISSUES.md
  LLM.md
  TODO.md
  index.html
  public/styles.css
  src/tree.js
  src/ui.js
Due: eslint, stylelint, prettier

deploy to github pages via docs/
  .github/workflows/ci.yml
  TODO.md
  docs/assets/index-nckZ_vUd.js
  docs/assets/parser_worker-Bb0ztS8H.js
  docs/example_code/hnco_3c_pfg_lek_600_sh_cp
  docs/example_code/test.bruk
  docs/example_code/zg
  docs/examples.json
  docs/favicon.svg
  docs/grammars/bruker.lark
  docs/icons/edit.svg
  docs/icons/help.svg
  docs/icons/parsing.svg
  docs/icons/settings.svg
  docs/icons/tree.svg
  docs/index.html
  docs/styles.css
  eslint.config.js
  src/app.js
  src/settings.js
  src/tree.js
  src/ui.js
  src/worker.js
  vite.config.js
Due: eslint, stylelint, prettier

update pre-commit hook. add pre-push hook to build site.
  .pre-commit-config.yaml
Due: none

try again, this time after installing the pre-push properly(?)
  TODO.md
  index.html
Due: eslint, stylelint, prettier

try again, this time after installing the pre-push properly(?)
  .pre-commit-config.yaml
Due: none

make pre-push hook only check if build would succeed. actual build is done by github workflows
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  docs/assets/index-nckZ_vUd.js
  docs/assets/parser_worker-Bb0ztS8H.js
  docs/example_code/hnco_3c_pfg_lek_600_sh_cp
  docs/example_code/test.bruk
  docs/example_code/zg
  docs/examples.json
  docs/favicon.svg
  docs/grammars/bruker.lark
  docs/icons/edit.svg
  docs/icons/help.svg
  docs/icons/parsing.svg
  docs/icons/settings.svg
  docs/icons/tree.svg
  docs/index.html
  docs/styles.css
  package.json
Due: eslint, stylelint, prettier

try to get deploy workflow working on ci
  .github/workflows/deploy-pages.yml
Due: none

try to fix permissions for deploy step on ci
  .github/workflows/deploy-pages.yml
  .vite/deps/_metadata.json
  .vite/deps/package.json
Due: eslint

deploy: 65382dd655d4b3e620020c4af2f9bf0aba905a36
  .nojekyll
  assets/index-nckZ_vUd.js
  assets/parser_worker-Bb0ztS8H.js
  example_code/hnco_3c_pfg_lek_600_sh_cp
  example_code/test.bruk
  example_code/zg
  examples.json
  favicon.svg
  grammars/bruker.lark
  icons/edit.svg
  icons/help.svg
  icons/parsing.svg
  icons/settings.svg
  icons/tree.svg
  index.html
  styles.css
Due: eslint, stylelint, prettier

maybe fix deploy?
  .github/workflows/ci.yml
  .github/workflows/deploy-pages.yml
  .vite/deps/_metadata.json
  .vite/deps/package.json
  src/parser_worker.js
  vite.config.js
Due: eslint, prettier

deploy: 86efd3a24f7f8df745f284e52f23c2003b93f26b
  assets/index-C5xondS5.js
  assets/parser_worker-Bb0ztS8H.js
  assets/parser_worker-DezCUXt_.js
  index.html
Due: eslint, stylelint, prettier

switch to updated grobl config syntax
  .grobl.config.json
  .groblignore
  src/parser_worker.js
  src/worker.js
Due: eslint, prettier

deploy: 788b55b24061c9f104f5fceabadf017e084f76d6
  assets/index-C5xondS5.js
  assets/index-Dazo7b9P.js
  assets/parser_worker-DVJtNMFe.js
  assets/parser_worker-DezCUXt_.js
  index.html
Due: eslint, stylelint, prettier

update grobl config
  .grobl.config.json
Due: eslint
